Here is a shitty, semi-public peer. <br /><br />
<pre>
<span class="key">"<%= ipport %>"</span>: <%- prettyJSON %>
</pre><br /><br />

<small>note that this service doesn't work yet, since there doesn't seem to be a reasonable cjdns admin javascript library</small>
